<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.fastbooster.android_teamwith">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".share.ApplicationShare"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity" />

        <activity
            android:name=".TeamActivity"
            android:theme="@android:style/Theme.Light.NoTitleBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ProfileEditActivity"
            android:theme="@android:style/Theme.Light.NoTitleBar" />

        <activity android:name=".HomeActivity"></activity>

        <activity
            android:name=".TeamLeaderActivity"
            android:theme="@android:style/Theme.Light.NoTitleBar"></activity>

        <activity
            android:name=".LoadingActivity"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"></activity>
        <activity
            android:name=".LoginActivity"
            android:theme="@android:style/Theme.NoTitleBar">

        </activity>

        <activity
            android:name=".MemberIntroActivity"
            android:theme="@android:style/Theme.Light.NoTitleBar" />

        <activity android:name=".PologActivity">

        </activity>

      
       
      
        <activity android:name=".PortfolioSearchActivity" >
          
      </activity>

        <activity android:name=".MyPologActivity"></activity>

        <activity
            android:name=".MyHistoryActivity"
            android:theme="@android:style/Theme.Light.NoTitleBar"></activity>

        <activity
            android:name=".SearchActivity"
            android:theme="@android:style/Theme.Light.NoTitleBar"></activity>

        <activity
            android:name=".MyTeamActivity"
            android:theme="@android:style/Theme.Light.NoTitleBar">

        </activity>
        <activity
            android:name=".TeamSearchActivity"
            android:theme="@android:style/Theme.Light.NoTitleBar">

        </activity>

        <activity
            android:name=".ApplicationActivity"
            android:theme="@android:style/Theme.Light.NoTitleBar"></activity>

        <activity android:name=".PortfolioActivity">

        </activity>


    </application>

</manifest>